biblioteca{
    font-family: 'Calibri', Courier, monospace;
}

libro{
    display:block;
    margin-top: 10px;
    padding-bottom: 10px;
    background-color: gray;
    border: 1px solid black;
    margin-left: 10px;
    
    padding-left: 5px;
}


titulo{
    font-size: 120%;
   display: block;
    font-weight: bold;
    
}

autor{
    display: block;
}

fechaPublicacion{
    display: block;
    font-size: 0.9em;
    font-style: italic;
}
